@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


@media screen and (min-width: 1000px) {
    *
    {
        font-family: Montserrat;
        padding: 0;
        margin: 0 auto;
        max-width: 1400px;
    }
    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #DEDEDE;
    }

    .calc_header
    {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }

    .allDropMenu
    {
        max-width: 1600px;
        margin: 0 auto;
    }

  .leftMenu
  {
      flex: 0 0;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-width: 500;
  }

  .allButton
  {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  select
  {
      text-align: center;
      width: 360px;
      height: 60px;
      border: 1px solid #0B7992;
      border-radius: 30px;
      appearance: none;
      background: url("Vector.svg") no-repeat 15px;
      margin: 0;
  }


  input
  {
      width: 300px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #0B7992;
      border-radius: 30px;
      margin: 0;
      padding-left: 60px;
      background-color: #DEDEDE;
  }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

  span
  {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 1080px;
  }

}



/*@media screen and (max-width: 1400px) and (min-width: 640px) {*/
/*    **/
/*    {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    body*/
/*    {*/
/*        font-size: 10px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 640px){*/
/*    body*/
/*    {*/
/*        font-size: 30px;*/
/*    }*/
/*}*/
