@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen and (max-width: 1980px) and (min-width: 900px) {
*
{
    font-family: Montserrat;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    background-color: blue;
    /*background-color: #DEDEDE;*/
}

h1
{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.calc
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}


.calc_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calc_info
{
    gap: 20px;
}
span
{
    display: flex;
    justify-content: space-between;
}

}

@media screen and (min-width: 0px) and (max-width: 400px) {

    *
    {
        background-color: red;
    }


    .calc_header
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1
    {
        font-size: 20px;
        /*text-transform: uppercase;*/
        /*margin: 0;*/

    }
}